<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <h1>I am About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio corporis dicta officiis tempore, at et harum necessitatibus magnam aperiam placeat error veritatis, veniam libero deserunt temporibus. Sequi totam commodi repellat esse saepe deleniti. Quo quas autem molestiae et mollitia, eos quisquam iure consequatur ad dicta deserunt voluptatibus ducimus, totam voluptates?</p>
</body>
</html>