<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js | <%= title %></title>
</head>
<body>
    <h1>Hello Home page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur sit, sint quis ipsa, rerum hic beatae voluptas modi amet sed velit? Aspernatur assumenda exercitationem expedita suscipit tempore nesciunt quae beatae?</p>

  

</body>
</html>